{% extends "base.html" %}

{% block title %}Teacher Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/dashboard-style.css') }}">
{% endblock %}

{% block content %}
  <h1>Teacher Dashboard</h1>
  <ul>
    <li><a href="/teacher/classroom/FE">Classroom FE</a></li>
    <li><a href="/teacher/classroom/SE">Classroom SE</a></li>
    <li><a href="/teacher/exam/FE">Exams FE</a></li>
  </ul>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='script/student-dashboard-script.js') }}"></script>
{% endblock %}
