<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Campus Connect{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/home-style.css') }}" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.signup') }}">Sign up</a>
      </nav>
    </header>
    <main>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class="flashes">
        {% for category, msg in messages %}
        <li class="flash {{ category }}">{{ msg }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>Campus Connect &copy; SPPU</p>
    </footer>
    <script src="{{ url_for('static', filename='script/home-script.js') }}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
